@page "/document-reviews"
@using DokumentuTvirtinimoSistema.Models
@using Microsoft.EntityFrameworkCore
@inject AppDbContext _context
@inject NavigationManager Navigation
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]

<h3>Document Review List</h3>

@if (documentReviews == null)
{
    <p>Loading...</p>
}
else
{

    <div>
        <span> Current Document Count: <b class="text-success"> @DocumentCount </b> </span>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Document Id</th>
                <th>Submitted By</th>
                <th>Submitted Date</th>
                <th>Reviewed By</th>
                <th>Reviewed Date</th>
                <th>Comments</th>
                <th>Status</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var review in documentReviews)
            {
                <tr>
                    <td>@review.DocumentId</td>
                    <td>@review.SubmittedBy</td>
                    <td>@review.SubmittedDate</td>
                    <td>@review.ReviewedBy</td>
                    <td>@review.ReviewedDate</td>
                    <td>@review.Comments</td>
                    <td>@if(review.Status == "Approved")
                        {
                            <span class="text-success">@review.Status</span>
                        }
                        else if(review.Status == "Pending") 
                        {
                            <span class="text-warning">@review.Status</span>
                        }
                        else
                        {
                            <span class="text-danger">@review.Status</span>
                        }
                        
                    </td>
                    <td class="text-end">
                        <button class="btn btn-warning m-1" @onclick="() => ReviewDocument(review.DocumentId)">Review</button>
                        <button class="btn btn-primary m-1" @onclick="() => ViewDocumentData(review.DocumentId)">View Data</button>
                        <button class="btn btn-danger m-1"  @onclick="() => DocumentCorrection(review.DocumentId)">Correction</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private List<DocumentReview> documentReviews;
    private List<DocumentData> documentData;
    private int DocumentCount;

    public int getFields()
    {
        return documentReviews.Count;
    }

    protected override async Task OnInitializedAsync()
    {
        documentReviews = await _context.DocumentReviews.ToListAsync();
        DocumentCount = getFields();
    }

    private void ReviewDocument(int documentId)
    {
        Navigation.NavigateTo($"/document-review/{documentId}");
    }

    private void ViewDocumentData(int documentId)
    {
        Navigation.NavigateTo($"/document-data/{documentId}");
    }

    private void DocumentCorrection(int documentId)
    {
        Navigation.NavigateTo($"/correction/{documentId}");
    }
}